@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mystery+Quest&family=Prosto+One&family=Roboto:ital,wght@1,100&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	margin: 0;
	padding: 0;
}

body{
  background-color: #121C2A;
  
}

.prosto-one-regular {
  font-family: "Prosto One", serif;
  font-style: normal;
}

.poppins {
	font-family: "Poppins", serif;
	font-style: normal;
  }

.caveat {
	font-family: "Caveat", serif;
	font-optical-sizing: auto;
	font-style: normal;
  }

/* From Uiverse.io by faxriddin20 */ 
.Btn {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  
  .svgIcon {
	fill: #36557f;
  }

  .icon2 {
	width: 28px;
	height: 5px;
	border-bottom: 2px solid #36557f;
	border-left: 2px solid #36557f;
	border-right: 2px solid #36557f;
  }
  
  .tooltip {
	position: absolute;
	right: -80px;
	opacity: 0;
	background-color: rgb(12, 12, 12);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 0.2s;
	pointer-events: none;
	letter-spacing: 0.5px;
  }
  
  .tooltip::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: rgb(12, 12, 12);
	background-size: 1000%;
	background-position: center;
	transform: rotate(45deg);
	left: -5%;
	transition-duration: 0.3s;
  }
  
  .Btn:hover .tooltip {
	opacity: 1;
	transition-duration: 0.3s;
  }
  
  .Btn:hover {
	background-color: #6daafe;
	transition-duration: 0.3s;
  }
  
  .Btn:hover .icon2 {
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
  }
  
  .Btn:hover .svgIcon {
	fill: white;
	animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @keyframes slide-in-top {
	0% {
	  transform: translateY(-10px);
	  opacity: 0;
	}
  
	100% {
	  transform: translateY(0px);
	  opacity: 1;
	}
  }
  

/* Fake Cursor */
.fake-cursor {
	position: absolute;
	width: 30px;
	height: 30px;
	background: url('/public/cursor.png') no-repeat ;
	background-size: contain;
	animation: moveCursor 2s infinite ease-in-out;
}

/* Cursor Click Animation */
@keyframes moveCursor {
	0% { transform: translate(-80px, 20px) scale(1); opacity: 1; }
	50% { transform: translate(0, 0) scale(1); opacity: 1; }
	60% { transform: translate(0, 0) scale(0.8); opacity: 1; } /* Click Effect */
	70% { transform: translate(0, 0) scale(1); opacity: 1; }
	100% { transform:  scale(1); opacity: 0; } 
}
